RewriteEngine On

# If your project is in a subfolder, specify the RewriteBase
RewriteBase /projects/romainlamerde-v3/

# If the requested resource does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the request to index.php without breaking query parameters
RewriteRule ^(.*)$ index.php [L,QSA]
